<footer>
    <div class="main">
        <div class="title">
            <ul>
                <li>India</li>
                <li>India</li>
                <li>India</li>
                <li>India</li>
            </ul>
        </div>
        <div class="title">
            <ul>
                <li>India</li>
                <li>India</li>
                <li>India</li>
                <li>India</li>
            </ul>
        </div>
        <div class="title">
            <ul>
                <li>India</li>
                <li>India</li>
                <li>India</li>
                <li>India</li>
            </ul>
        </div>
        <div class="title">
            <ul>
                <li>India</li>
                <li>India</li>
                <li>India</li>
                <li>India</li>
            </ul>
        </div>
    </div>
</footer>
